# This file contains environment variables for the Tweeti application.
# Please ensure that you do not share this file publicly as it contains sensitive information.

# Database connection string for NeonDB
DATABASE_URL=''

# Environment configuration for NextAuth
NEXTAUTH_SECRET="yTjd+GZUnkV99gHcKkVRz3zK7TqBrgNzXk+3vVo+G7k="

# Environment configuration for GitHub OAuth
# These credentials are used to authenticate users via GitHub.
# Make sure to keep these credentials secure and do not expose them in public repositories.
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""